In [ ]:
#Q.1
Database:-A database is information that is set up for easy access, management and updating.
Computer databases typically store aggregations of data records or
files that contain information, such as sales transactions, customer data, financials and product information.

Difference between SQL and NoSQL database:
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based,
while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

In [ ]:
#Q.2
DLL:-
Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships 
in a database.

#CREATE:-
The CREATE  command creates a new table in the database.
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

#DROPE:-
The DROP command deletes a table in the database.
DROP TABLE Persons;

#ALTER:-
The ALTER command adds, deletes, or modifies columns in a table.
ALTER TABLE Persons
ADD Email varchar(255);

#TURNCATE:
The TRUNCATE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE Persons;

In [ ]:
#Q.3
DML:-
A DML (data manipulation language) refers to a computer programming language that 
allows you to add (insert), delete (delete),and alter (update) data in a database.

#INSERT:-
Insert command use of insert the data in the table.
INSERT INTO tableName
(column1, column2, ...)
VALUES (value1, value2, ...)

#UPDATE:-
Update command Use to change a column value for one or multiple rows.
UPDATE tableName
SET column1=value1, column2=value2,...
WHERE filterColumn=filterValue

#DELETE:-
DELETE removes one or multiple rows from a table.
DELETE tableName
WHERE  filterColumn=filterValue;

In [ ]:
#Q.4
The full form of DQL is Data Query Language.
DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.

#SELECT:-
The SELECT statement is used to select data from a database.
SELECT column1, column2, ...
FROM table_name;

In [ ]:
#Q.5
A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with
a given primary key value in a table. Foreign keys. A foreign key is a
column or a set of columns in a table whose values correspond to the values of the primary key in another table.

In [ ]:
#Q.6
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
#Q.7
Order of Execution
1.FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.